.logo-1 {
  margin-left: 300px;
  width: 400px;
  height: 200px;
  max-width: 100%;
}

.logo-2 {
  margin-left: 200px;
  width: 100px;
  margin-top: 50px;
  max-width: 100%;
}

.logo-3 {
  margin-left: 200px;
  width: 100px;
  margin-top: 50px;  
  max-width: 100%;
}

.logo-4 {
  margin-left: 50px;
  width: 100px;
  margin-top: 50px;
  max-width: 100%;
}

.logos-1{
  width: 50px;
  max-width: 300px;
  min-width: 300px;
}

.logos-2{
  width: 50px;
  max-width: 300px;
  min-width: 300px;
}

.logos-3{
  width: 50px;
  max-width: 300px;
  min-width: 300px;
}

.logos-4{
  width: 50px;
  max-width: 300px;
  min-width: 300px;
}

.logos-div{
  display: block;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 1fr;
  background-color: black;
}

.m-4{
  display: flex;
  justify-content: center;
}

.img-accueil {
  margin-left: 350px;
  margin-right: 50px;
  justify-content: center;
  display: block;
  float: left;
}

.navbar {
  display: block;
  
}
